@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
    --clr-light:rgb(175, 238, 238)

  }

  *,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: grid;
    align-items: flex-start;
    background: var(--clr-bg);
    color: var(--clr-neon);
    padding: 10rem;
    background-size: cover;
    background-position: center center;
}

#preference{
    display: none;
}

#select {
    display: block;
    
}


.gender {
    font-size:5em ;
    display: block;
    width: 5em;
    height: 1.5em;
    margin: .2em;
    cursor: pointer;
    border: var(--clr-neon) 0.125em solid;
    background-color: var(--clr-bg);
    color: var(--clr-neon);
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-decoration: none;

}


.coment{
    display: block;
    border: solid .4em black;
    width: 15em;
    background-color: black;
}

#c2{
    display: none;
}



#next{
    display: block;
    background-color:black;
    color: white;
    font-size: 2em;
    border: solid .15em white;
    box-shadow: 0 0 .5em 0;
    margin-left:36em ;
    margin-bottom: 30em;
}

#phone{
    display: none;
    float: right;
    margin-bottom: 5em ;
}

.actions{
    border: .075em solid red;
    background-color: red;
    border-radius: 100em 100em 100em 100em;
    height: 5em;
    width: 5em;
    cursor: pointer;
}


.arrows{
    border: .075em solid red;
    background-color: red;
    border-radius: 0 .652em .652em 0;
    cursor: pointer;

}
 
  /*use transform:rotate(xdeg) on arrows 
  */


#station{
    display: none;
}

#front_school{
    display: none;
}

#back_school{
    display: none;
}

input[type=text]{
    padding: .5em;
    color: white;
    font-size: 1em;
    border: none;
    background-color: black;
}


#player-name {
    display: none;
}



#name {
    font-size: 5.5em;
    display: inline;
}

#room { 
    display: block;   
    background-color: transparent;
}

.arrows {
    display: block;
    
}

#classroom{
    display: none;
}


#back {
    font-size: 5em;
    color: var(--clr-neon);
    background-color: var(--clr-bg);
    display: block;
    border: .125em var(--clr-neon) solid;
    border-radius: 0.25em;
    cursor: pointer;
}

#game {
    display: none;
    width: 100%;
    height: 45%;
    bottom: 0;
    color: white;;
}



#play {
    font-size: 5em;
    
    background-color: var(--clr-bg);
    color: var(--clr-neon);
    display:block;
    cursor: pointer;
    text-decoration: none;
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

    text-shadow: 0 0 0.125em hsl(0,0,100 
    / 0.5), 0 0 0.45em currentColor;

    box-shadow: 0 0 0.5em 0 var(--clr-neon) 
    , 0 0 0.5em 0 var(--clr-neon);

    position: relative;
    ;

}
    
#play::before{
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em)
    rotateX(40deg) scale(1, 0.35);
    filter: blur(1.5em);
    opacity: 0.7;

}

#play::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    transition: opacity 100ms linear;
    background-color: var(--clr-neon);
    z-index: -1;

}

#play:hover, 
#play:focus{
    background: var(--clr-neon);
    color: var(--clr-bg);
    text-shadow: none;
    
    
}

#play:hover::before,
#play:focus::before{
    opacity: 1;
}
#play:hover::after,
#play:focus::after {
    opacity: 1;
}
  


input[type=text]:focus{
    box-shadow: 0 0 1.75em 0 white 
    , 0 0 1.75em 0 white;
    border-radius: .5em;
    border: none;
    background-color: black;
}
